body {
    position: relative;
}

#presentation {
    margin-bottom: 500px;
}

.padding-top {
    padding-top: 20px;
}

#menu > ul {
    width: 15%;
}

#menu li.active > a {
    font-weight: bold;
    border-right: #337ab7 solid 2px;
}

#menu li > ul {
    margin-top: 2px;
    display: none;
}

#menu li.active > ul {
    display: block;
}

.panel-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.progress {
    margin-bottom: 0;
}

.lead .progress {
    height: 30px;
}

.lead .progress-bar {
    font-size: 21px;
    padding: 5px 0;
}

.panel-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel-title {
    font-size: 18px;
}

.panel-heading a {
    color: white;
}